@import "main.css";

.main_box {
    margin-top: 10vh;
    text-align: center;
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
}

#date_text {
    text-align: center;
}

#main_pic {
    width: 40%;
    height: 40%;
    border-radius: 70%;
}

.box_2 {
    display: flex;
    justify-content: center;
}

#rand_box {
    padding-right: 10px;
    width: 30%;
    height: 30%;
    background-color: powderblue;
}

#rand_box > p {
    background-color: powderblue;
}


#pics_box {
    padding-left: 10px;
    width: 30%;
    height: 30%;
    background-color: ghostwhite;
}

#pics_box > p {
    background-color: ghostwhite;
}

#cool_hamster {
    font-size: 20px;
    font-weight: bold;
}

.visible {
  visibility: visible;
}

.big_YS {
    width: 60%;
    height: auto;
    transition: width 0.5s ease;
}

#cool_hamster {
    font-weight: bold;
    font-size: 25px;
}
