<!DOCTYPE html>
{% load static %}
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YoungSoo_Page</title>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <div class="picture"><img class="pic_robot" src="/static/pic/mj_robot.png" /></div>
    <div class="admin">
      <p id="user_ID">User ID : adf415</p>
      <p id="ad">Administer Page</p>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
